.menuTop {
    width: 80%;
    margin: auto;
}
main {
    margin-top: 50px;
}
.cardsInfo {
   
    width: 80%;
    margin: auto;
    display: flex;
}
.cardsInfo > div {
    padding: 20px;
}

@media (max-width:360px) {
    .cardsInfo {
        display: block;
    }
    .cardsInfo > div {
        padding: 0;
        margin-bottom: 20px;
    }
}